<m-portlet [options]="{headLarge: true, enableSticky: true}" [loading$]="loading$">
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        {{ getComponentTitle() }}
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletHeadTools>
    <button type="button" (click)="goBack()" mat-raised-button matTooltip="Back to the Customer list">Back</button>&nbsp;
    <button mat-raised-button (click)="reset()" [disabled]="selectedTab !== 0" matTooltip="Reset changes">Reset</button>&nbsp;

    <div class="m-buttons--wrapper">
      <button type="button" (click)="onSumbit(false)" mat-raised-button color="primary" matTooltip="Save & Continue">Save</button>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
        <button mat-menu-item color="primary">Save & Duplicate</button>
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
      </mat-menu>
    </div>
  </ng-container>
  <ng-container mPortletBody>
    <mat-tab-group [(selectedIndex)]="selectedTab" *ngIf="customer">
      <mat-tab label="Basic info">
        <ng-template matTabContent>
          <!--begin::Form-->
          <form [formGroup]="customerForm" class="m-form m-form--group-seperator-dashed">

            <m-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
              Oh snap! Change a few things up and try submitting again.
            </m-alert>

            <div class="m-form__section m-form__section--first">
              <div class="m-form__group">
                <div class="row">
                  <div class="col-md-3 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="ID" formControlName="id">
                      <mat-error>
                        ID
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>ID</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Name" formControlName="name">
                      <mat-error>
                        Name is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>Name</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Code" formControlName="code">
                      <mat-error>
                        Code is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>Code</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-4 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter Phone1" formControlName="phone1">
                      <mat-error>
                        Phone is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>phone1</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter phone2" formControlName="phone2">
                      <mat-error>
                        Phone2 is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>Phone2</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Enter phone3" formControlName="phone3">
                      <mat-error>
                        phone3 is
                        <strong>required</strong>
                      </mat-error>
                      <mat-hint align="start">Please enter
                        <strong>phone3</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>

                </div>
              </div>

            </div>
          </form>
          <!--end::Form-->
        </ng-template>
      </mat-tab>


    </mat-tab-group>
  </ng-container>


</m-portlet>